body {
    background-color: #00ffae;
    /*background-color: aquamarine;*/
    /*margin: 10px;*/
    /*background: url(../images/background.jpg);*/
}

/*.nav-tabs {*/

/*    border: none;*/

/*}*/

/*.glyph-btn {*/

/*    background-color: #4ec63b;*/

/*    opacity: 5;*/

/*}*/

/*.glyphicon {*/

/*    font-size: large;*/

/*    color: white;*/

/*    position: relative;*/

/*    top: 1px;*/

/*    display: inline-block;*/

/*    font-family: 'Glyphicons Halflings';*/

/*    font-style: normal;*/

/*    font-weight: 500;*/

/*    line-height: 1;*/

/*    -webkit-font-smoothing: antialiased;*/

/*    -moz-osx-font-smoothing: grayscale;*/

/*}*/

/*.jumbotron {*/

/*    color: white;*/

/*    background-color: black;*/

/*    padding:10px;*/

/*    font-family: cursive;*/

/*    text-align: center;*/

/*}*/

/*.thumbnail {*/

/*    background-color: black;*/

/*    border-radius: 20px;*/

/*    text-decoration: none;*/

/*    font-family: cursive;*/

/*    text-align: justify;*/

/*}*/

/* label color */

.input-field label {
    color: #000;
}

/* label focus color */

.input-field input[type=text]:focus+label {
    color: #000;
}

/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */

.input-field .prefix.active {
    color: #000;
}
