<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />

    <title>Recipe App</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper orange darken-1">
            <a href="{{url_for('index')}}" class="brand-logo">Cook & Create</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('see_recipes') }}">Recipes</a></li>
                <li><a href="{{ url_for('create_recipe') }}">Add a Recipe</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav orange darken-1" id="mobile-demo">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('see_recipes') }}">Recipes</a></li>
        <li><a href="{{ url_for('create_recipe') }}">Add a Recipe</a></li>
    </ul>

    <div class="parallax-container">
        <div class="parallax">
            <img src="{{ url_for('static', filename='images/anise-aroma-art-277253.jpg') }}">
        </div>
    </div>
    <div class="section amber lighten-2">
        <div class="row container ">
            <div class="row">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{{ url_for('static', filename='images/bread-color-cooking-1565982.jpg') }}"></div>
    </div>




    <footer class="page-footer orange darken-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Cook & Create</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="{{ url_for('index') }}">Home</a></li>
                        <li><a class="grey-text text-lighten-3" href="{{ url_for('see_recipes') }}">Recipes</a></li>
                        <li><a class="grey-text text-lighten-3" href="{{ url_for('create_recipe') }}">Add Recipe</a></li>
                        <li><a class="grey-text text-lighten-3" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019
                <a class="grey-text text-lighten-4 right" href="https://github.com/patrickoneill">Patrick O'Neill Github account</a>
            </div>
        </div>
    </footer>



    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
        });

        $(document).ready(function() {
            $('.datepicker').datepicker();
        });

        $(document).ready(function() {
            $('select').formSelect();
        });

        $(document).ready(function() {
            $('.sidenav').sidenav();
        });
        $(document).ready(function() {
            $('.parallax').parallax();
        });
    </script>
</body>

</html>
