{% extends 'base.html'%} {% block content %}
<div class="container">
    <div class="container-fluid">

        <div class="container jumbotron">
            <h3>Add Recipe</h3>

            <div class="container-fluid row">
                <form action="{{ url_for('add_recipe') }}" method="POST">
                    <input id="style" name="name" type="text" class="form-control" placeholder="Name Of Dish">
                    <br/>
                    <textarea id="ingredients" name="ingredients" class="form-control" placeholder="Ingredients" rows="3"></textarea>
                    <br/>
                    <textarea id="cooking" name="cooking" class="form-control" placeholder="Cooking Instructions" rows="5"></textarea>
                    <br/>
                    <input id="user" class="form-control" type="text" name="user" placeholder="Submitted by:" />
                    <select id="style" class="form-control" name="style">
                    <br/>
                    <option value="" disabled selected>Choose Country</option>
                    {% for dish in style %}
                    <option value="{{dish.style}}">{{dish.style}}</option>
                    {% endfor %}
                    </select>
                    <button class="btn btn-success" type="submit" name="action">Add Recipe</button>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}
