{% extends 'base.html'%} {% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <div class="card light-green darken-4 white-text ">
                <div class="card-content white-text input-field">
                    <h2 class="center-align">Add Recipe</h2>
                    <p class="center-align">*Please complete all fields on the form*</h4>
                    <form action="{{ url_for('add_recipe') }}" method="POST">
                        <div class="row">
                            <div>
                                <label>
                                <input id="meat_free" name="meat_free" type="radio" value="No" checked />
                                <span>Meat</span>
                            </label>
                            </div>
                            
                            <div>
                                <label>
                                <input id="meat_free" name="meat_free" type="radio" value="Yes"/>
                                <span>Vegetarian</span>
                            </label>
                            </div>
                        </div>
                        <div class="input-field col s12 m12">
                            <input id="recipe_name" name="recipe_name" type="text" class="black-text" placeholder="Name Of Dish">
                        </div>
                        <div class="input-field col s12 m12">
                            <input id="recipe_title" name="recipe_title" type="text" class="" placeholder="Recipe Name">
                        </div>
                        <div class="input-field col s12 m12">
                            <input id="recipe_serving" type="number" name="recipe_serving" placeholder="People served" class="">
                        </div>
                        <div class="input-field col s12 m12">
                            <input id="recipe_time_hr" type="number" name="recipe_time_hr" placeholder="Hours:" class="">
                        </div>
                        <div class="input-field col s12 m12">
                            <input id="recipe_time_min" type="number" name="recipe_time_min" placeholder="Minutes:" class="">
                        </div>
                        <div class="input-field col s12 m12">
                            <textarea id="recipe_ingredients" name="recipe_ingredients" class="materialize-textarea" placeholder="Ingredients" rows="3"></textarea>
                        </div>
                        <div class="input-field col s12 m12">
                            <textarea id="recipe_cooking" name="recipe_cooking" class="materialize-textarea" placeholder="Cooking Instructions" rows="5"></textarea>
                        </div>
                        <div class="input-field col s12 m12">
                            <input id="recipe_user" class="col s12 m12" type="text" name="recipe_user" placeholder="Submitted by:" />
                        </div>
                        <div class="input-field col s12">
                            <select id="style" name="recipe_meal">
                                  {% for meal in recipeMeal %}
                                  <option value="{{meal.recipe_meal}}">{{meal.recipe_meal.upper()}}</option>
                                  {% endfor %}
                                </select>
                            <label>Meal type: </label>
                        </div>
                        <div class="input-field col s12">
                            <select id="style" name="recipe_style">
                                  {% for dish in recipeCat %}
                                  <option value="{{dish.recipe_style}}">{{dish.recipe_style.upper()}}</option>
                                  {% endfor %}
                                </select>
                            <label>Country of Origin: </label>
                        </div>
                        <div class="input-field col s12">
                            <select id="allergys" name="dish_allergy" multiple>
                                <option value="" disabled selected>Choose your option</option>
                                  {% for al in recipeAllergy %}
                                  <option value="{{al.dish_allergy}}">{{al.dish_allergy.upper()}}</option>
                                  {% endfor %}
                                </select>
                            <label>Allergies contained: </label>
                        </div>
                        <div class="input-field col s12 m12">
                            <input id="recipe_score" type="hidden" name="recipe_score" value="0">
                        </div>
                        <div class="row">
                            <button class="btn-floating waves-effect waves-green right" type="submit" name="action"><i class="material-icons">add</i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
