{% extends 'base.html'%} {% block content %}
<div class="container">
    <div class="container-fluid">

        <div class="container jumbotron">
            <h3>Add Recipe</h3>

            <div class="container-fluid row">
                <form action="{{ url_for('add_recipe') }}" method="POST">
                    <input id="recipe_name" name="recipe_name" type="text" class="form-control" placeholder="Name Of Dish">
                    <br/>
                    <input id="recipe_title" name="recipe_title" type="text" class="form-control" placeholder="Recipe Name">
                    <br/>
                    <textarea id="recipe_ingredients" name="recipe_ingredients" class="form-control" placeholder="Ingredients" rows="3"></textarea>
                    <br/>
                    <textarea id="recipe_cooking" name="recipe_cooking" class="form-control" placeholder="Cooking Instructions" rows="5"></textarea>
                    <br/>
                    <input id="recipe_user" class="form-control" type="text" name="recipe_user" placeholder="Submitted by:" />
                    <br/>
                    <select id="recipe_style" class="form-control" name="recipe_style">
                    <br/>
                    <option value="" disabled selected>Choose Country</option>
                    <br/>
                    {% for dish in style %}
                    <option value="{{dish.recipe_style}}">{{dish.recipe_style}}</option>
                    {% endfor %}
                    </select>
                    <br/>
                    <h4>Allergines - Please check boxes where needed</h4>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox1" value="option1"> Gluten
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox2" value="option2"> Shellfish
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> Egg
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> Fish
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> Peanuts
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> Soybeans
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> Milk
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> Tree Nuts
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> Celery
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> Mustard
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> Sesame Seeds
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> Sulphur dioxide and sulphites
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> Lupin
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> Molluscs
                    </label>
                    <br/>
                    
                    <button class="btn btn-warning" type="submit" name="action"><i class="glyphicon glyphicon-floppy-save"></i></button>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}
