{% extends 'base.html'%} {% block content %}
<div class="container">
    <div class="container-fluid">

        <div class="container jumbotron">
            <h3>Add Recipe</h3>

            <div class="container-fluid row">
                <form action="{{ url_for('create_recipe') }}" method="POST">
                    <input id="style" name="style" type="text" class="form-control" placeholder="Name Of Dish">
                    <br/>
                    <textarea id="ingredients" name="ingredients" class="form-control" placeholder="Ingredients" rows="3"></textarea>
                    <br/>
                    <textarea id="cooking" name="cooking" class="form-control" placeholder="Cooking Instructions" rows="5"></textarea>
                    <br/>
                    <label for="style">Country Of Origin:</label>
                    <input type="text" placeholder="Country" name="sytle" />
                    <br/>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}
