{% extends 'base.html'%} {% block content %}
<div class="container">
    <div class="container-fluid">
        <div class="jumbotron" >
            <h1>Welcome To Cook and Create!</h1>
            <p>This is a place where you can get come for some of the best recipes that people have post and a chance for you to help built something unique</p>
            <p><a class="btn btn-warning btn-lg" href="{{ url_for('see_recipes') }}" role="button">See Recpies</a></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="container-fluid col-md-12">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p></p>
                    <p><a href="#" class="btn btn-success" role="button">Read More</a> <a href="#" class="btn btn-danger" role="button">Edit</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p></p>
                    <p><a href="#" class="btn btn-success" role="button">Read More</a> <a href="#" class="btn btn-danger" role="button">Edit</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p></p>
                    <p><a href="#" class="btn btn-success" role="button">Read More</a> <a href="#" class="btn btn-danger" role="button">Edit</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
