{% extends 'base.html'%} {% block content %}
<div class="row">
    <div class=" col s12">
        <div class="col s12 m12">
            <h1 class="green-text darken-4 center">Recipe book <i class="medium material-icons ">local_dining</i></h1>
            <br/>
            {% for recipes in recipeCollection %}
            <div class="card light-green darken-4 col s12 m12">
                <div class="card-content white-text">
                    <div class="row">
                        <div class="card light-green darken-3 col s12 m6 left z-depth-5">
                            <ul>
                                <li>{{ recipes.recipe_name }}</li>
                                <li>Vegetarian: {{ recipes.meat_free }} </li>
                                <li>People served: {{ recipes.recipe_serving}}</li>
                            </ul>
                        </div>
                        <div class="card light-green darken-3 col s12 m4 right z-depth-5">
                            <p>Subbmitted by: {{ recipes.recipe_user }}</p>
                        </div>
                    </div>
                    <div class="row card light-green darken-3 z-depth-5">
                        <p> Click
                            <a href="{{ url_for('that_recipe', task_id=recipes._id) }}" class="" role="button"> here </a> to read more on this recipe...
                        </p>
                        <span></span>
                    </div>
                    <p class="">
                        <a href="{{ url_for('edit_recipe', task_id=recipes._id) }}" class="btn-floating  waves-effect btn orange darken-1" role="button"><i class="material-icons">edit</i></a>
                        <span>{{ recipes.recipe_score }}</span>
                    </p>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>
{% endblock %}
