{% extends 'base.html'%} {% block content %}

<div class="row">
    <div class="col s12 m12 ">
        <div class="card light-green darken-4">
            <div class="card-content white-text">
                <div class="row">
                    <div class="card light-green darken-3 z-depth-5 col s12 m6 left">
                        <ul>
                            <li>{{ task.recipe_name }} : {{ task.recipe_title }}</li>
                        </ul>
                    </div>
                    <div class="card light-green darken-3 z-depth-5 col s12 m3 right">
                        {{ task.recipe_user }}
                    </div>
                </div>
                <div class="row">
                    <div class="card col s12 m4 light-green darken-3 z-depth-5">
                        {{ task.recipe_ingredients }}
                    </div>
                    <div class="card col s12 m8 light-green darken-3 z-depth-5">
                        {{ task.recipe_cooking }}
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li>{{ task.recipe_time_hr }}</li>
                        <li>{{ task.recipe_time_min }}</li>
                        <li>{{ task.recipe_serving }}</li>
                        <li>{{ task.meat_free }}</li>
                        <li>{{ task.recipe_style }}</li>
                    </ul>
                </div>
                <p class="">
                    <a href="{{url_for('delete_recipe', task_id=task._id)}}" class="btn-floating red accent-4  waves-effect btn" role="button"><i class="material-icons">delete_forever</i></a>
                    <a href="#" class="btn-floating  waves-effect btn pink accent-3" role="button"><i class="material-icons">favorite</i></a>
                    <span></span>
                    <span class="card red accent-4 ">
                            <i class="right">{{ task.dish_allergy }}</i>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}
